div
    md-card(ng-if="dashboardCtrl.projectsService.projects.length === 0")
        md-card-title
            md-card-title-text Brak aktywnych projektów. Poproś administratora systemu o skonfigurowanie potrzebnych zasobów.
    .container(ng-if="dashboardCtrl.projectsService.projects.length > 0" layout="row")
        div.dashboards(flex="70")
            md-card.instance(ng-repeat="instance in dashboardCtrl.instances")
                md-card-title
                    md-card-title-text {{ instance.name }}
                    .pull-right
                        button.md-icon-button.md-button.change-build(ng-click="dashboardCtrl.newBuildModal($event, instance.id)")
                            i.material-icons build
                        .instance-status.instance-status-processing.center-align(ng-show="instance.status == 0")
                            span klonowanie
                        .instance-status.instance-status-processing.center-align(ng-show="instance.status == 1")
                            span budowanie
                        .instance-status.instance-status-done.center-align(ng-show="instance.status == 2")
                            span zbudowano
                        .instance-status.instance-status-error.center-align(ng-show="instance.status == 3")
                            span błąd
                        .build-date
                            span
                                i.material-icons date_range
                            span {{ instance.buildDate }}
                md-card-content
                    .branch
                        i.fa.fa-code-fork
                        span {{ instance.branchName }}
                    .content-wrapper
                        .content
                            .build-checklist(ng-if="instance.checklist")
                                span.checklist-title {{ instance.checklist.name }} ({{ instance.checklist.getSolvedCount() }}/{{ instance.checklist.items.length }})
                                ul.grey.build-checklist-items
                                    li.item-name(ng-repeat="item in instance.checklist.items track by $index" ng-class="item.solved ? 'solved-item' : ''")
                                        input(id="checklist-{{instance.checklist.id}}-item-{{item.id}}" type="checkbox" ng-change="dashboardCtrl.onChecklistItemStateChanged(instance.id, instance.checklist, item)" ng-model="item.solved")
                                        label(for="checklist-{{instance.checklist.id}}-item-{{item.id}}") {{ item.name }}
                            .jira(ng-if="instance.jiraInformation" style="flex: 70")
                                h4 {{ instance.jiraInformation.title }}
                                p {{ instance.jiraInformation.description }}
                                .pull-left Zgłaszający(a): {{ instance.jiraInformation.reporter }}
                                .pull-right
                                    a(href="{{instance.jiraInformation.url}}") Zobacz w Jirze
                md-card-actions.card-footer
                    .pull-left.author
                        span
                            i.material-icons person
                        span {{ instance.author }}
                    .pull-right
                        a(href="{{ instance.url }}" target="_blank") {{ instance.url }}
            md-button.md-fab.new-build(ng-click="dashboardCtrl.newBuildModal($event)")
                i.material-icons.reset-line-height add
        div(flex="30")
            checklist-list