<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Builder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="{{ asset('bundles/builder/css/style.css') }}"/>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="center-box col s12 m6">
            <div class="card">
                <div class="card-content white-text blue darken-2">
                    <span class="card-title">{{ checklist.name }}</span>
                </div>
                <div class="card-content">
                    <ul>
                        {% for item in checklist.items %}
                        <li class="{{ item.solved ? 'solved' }}">{{ item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>