.checklist-list {
  li {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $background;
    }

    .delete-checklist {
      float: right;
    }

    .list-name {
      width: calc(100% - 40px);
      display: inline-block;
    }
  }
}

.checklist-items {
  margin-bottom: 20px;

  li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:nth-child(odd) {
      background: $background;
    }

    &.solved-item {
      text-decoration: line-through;
      font-style: italic;
    }
  }
}

.checklist-details {
  md-input-container {
    width: 100%;
  }
}