.checklist-list {
  li {
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      background: $background;
    }

    .delete-checklist {
      float: right;
    }

    .list-name {
      width: calc(100% - 40px);
      display: inline-block;
    }
  }
}

.checklist-items {
  margin-bottom: 20px;

  li {
    white-space: nowrap;
    overflow: hidden;
    padding: 0 10px;

    &:nth-child(odd) {
      background: $background;
    }

    &.solved-item span{
      text-decoration: line-through;
      font-style: italic;
    }

    .item-name {
      width: calc(100% - 70px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      line-height: 36px;
    }
  }
}

.checklist-details {
  md-input-container {
    width: 100%;
  }
}