* {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.center {
  margin: 0 auto;
}

.center-align {
  text-align: center !important;
}

.grey {
  color: $background600 !important;
}

.white {
  color: white !important;
}

.no-bottom-padding {
  padding-bottom: 0 !important;
}

md-card {
  md-card-title {
    md-card-title-text {
      font-size: 24px;
      color: $accent500;
    }
  }
}

.material-icons.reset-line-height {
  line-height: inherit;
}

a {
  &, &:hover, &:focus, &:active, &:visited {
    border: inherit;
    color: inherit;
    text-decoration: inherit;
  }
}

.little-title {
  color: $background600;
  font-size: 12px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 10.5px;
  }
}