.dashboards {
  position: relative;

  button.new-build {
    display: flex;
    margin: 0 auto 16px;
    color: white;

    i {
      margin: 0 auto;
    }
  }
}

.new-build-modal {
  max-width: 700px;
}

.instance {
  margin-bottom: 16px;

  a, a:hover, a:focus, a:visited, a:active {
    color: $primary;
  }

  .build-date {
    display: inline-block;
    font-size: 12px;

    span {
      height: 24px;
      line-height: 24px;
      display: inline-block;
      float: left;
    }
  }

  .instance-status {
    width: 130px;
    display: inline-block;
    margin-right: 15px;
    float: left;
    font-size: 12px;

    &.instance-status-processing {
      span {
        background: $primary;
      }
    }

    &.instance-status-done {
      span {
        background: $green500;
      }
    }

    &.instance-status-error {
      span {
        background: $accent500;
      }
    }

    span {
      border-radius: 15px;
      padding: 5px 0;
      color: white;
      display: inline-block;
      width: 100%;
    }
  }

  .branch {
    height: 20px;

    i {
      margin-right: 10px;
      float: left;
    }

    span {
      font-size: 12px;
      float: left;
      line-height: 16px;
    }
  }

  .content-wrapper {
    .content {
      display: flex;
      justify-content: space-around;
      color: $background600;

      .checklist {
      }

      .jira {
      }
    }
  }

  .card-footer {
    border-top: 1px solid $background;
    padding: 10px 15px 0 5px;

    .author {
      span {
        display: inline-block;
        height: 24px;
        line-height: 24px;
        float: left;
        margin-right: 10px;
      }
    }
  }
}