md-dialog.change-password-modal
    md-toolbar
        .md-toolbar-tools
            h2 Udostępnij na Jirze
    md-dialog-content
        .md-dialog-content.no-bottom-padding
            span Wybierz symbol zadania w Jirze z listy poniżej aby udostępnić link do checklisty w formie komentarza
    md-dialog-actions
        md-button.md-raised.md-warn(ng-click="$close()") Anuluj