md-dialog.change-password-modal
    md-toolbar
        .md-toolbar-tools
            h2 Aktywuj konto
    md-dialog-content
        .md-dialog-content.no-bottom-padding
            span Aby aktywować konto nadaj hasło. Logowanie za pomocą otrzymanego kodu aktywacyjnego nie będzie już możliwe
            form(name="changePasswordForm" layout="column" novalidate ng-submit="modalCtrl.changePassword()")
                md-input-container
                    label Hasło
                    input(name="password" minlength="8" maxlength="30" required ng-model="modalCtrl.password")
                    div(ng-messages="changePasswordForm.password.$error")
                        div(ng-message="required") To pole jest wymagane
                        div(ng-message="md-maxlength") Hasło nie może być dłuższe niż 30 znaków
                        div(ng-message="minlength") Hasło nie może być krótsze niż 8 znaki
                md-input-container
                    label Powtórz hasło
                    input(name="repeatPassword" required match-password="password" ng-model="modalCtrl.repeatedPassword")
                    div(ng-messages="changePasswordForm.repeatPassword.$error")
                        div(ng-message="required") To pole jest wymagane
                        div(ng-message="passwordMatch") Podane hasła są różne
    md-dialog-actions
        md-button.md-raised.md-primary(ng-click="modalCtrl.changePassword()" ng-disabled="!changePasswordForm.$valid") Nadaj hasło