.container(layout="row")
    div(flex="70")
        md-card
            md-card-title(layout="column")
                md-card-title-text {{ checklistCtrl.checklist.name }}
                span.little-title Link publiczny:
                    a(href="{{checklistCtrl.getPublicLink()}}" target="_blank" rel="noopener") {{ checklistCtrl.getPublicLink() }}
            md-card-content.checklist-details
                ul.grey.checklist-items
                    li(ng-repeat="item in checklistCtrl.checklist.getSortedItems()" ng-show="!item.deleted" ng-class="item.solved ? 'solved-item' : ''")
                        span.item-name {{ item.name }}
                        md-button.md-icon-button.pull-right(ng-click="checklistCtrl.checklist.removeItem(item)")
                            i.material-icons delete
                form(name="newItemForm" novalidate ng-submit="checklistCtrl.addItem()")
                    md-input-container
                        label Nowy element
                        input(name="newItem" required ng-model="checklistCtrl.newItem")
                        div(ng-messages="newItemForm.newItem.$error")
                            div(ng-message="required") To pole jest wymagane
                md-card-actions.grey.checklist-actions(layout="row")
                    .right-actions
                        md-button.md-raised.md-warn(ng-click="checklistCtrl.deleteChecklist($event)") Usuń checklistę
                        md-button.md-raised.md-primary(ng-click="checklistCtrl.saveChecklist()") Zapisz
    div(flex="30")
        checklist-list