md-card
    md-card-title
        md-card-title-text Nowy projekt
    md-card-content
        include ../projectSettings
    md-dialog-actions
        .md-dialog-content
            md-button.md-raised.md-primary.pull-right(ng-click="projectCtrl.saveProject()" ng-disabled="!projectForm.$valid") Dodaj