.jira-integration
    h4 Konfiguracja integracji z Jirą
    .md-dialog-content
        form(name="jiraForm" layout="column" novalidate ng-submit="projectCtrl.saveJiraConfiguration()")
            div(layout="row")
                md-input-container(flex)
                    label Adres
                    input(name="url" required ng-model="projectCtrl.jiraConfigurationService.jiraConfig.url")
                    md-icon.helper
                        i.material-icons.grey help_outline
                        md-tooltip Adres do Twojej Jiry
                    div(ng-messages="jiraForm.url.$error")
                        div(ng-message="required") To pole jest wymagane
                md-input-container(flex)
                    label Symbol projektu w Jirze
                    input(name="projectSymbol" required ng-model="projectCtrl.jiraConfigurationService.jiraConfig.projectSymbol")
                    md-icon.helper
                        i.material-icons.grey help_outline
                        md-tooltip Symbol projektu w Jirze z którym chcesz nwiązać połączenie
                    div(ng-messages="jiraForm.projectName.$error")
                        div(ng-message="required") To pole jest wymagane
                md-input-container(flex)
                    label Login
                    input(name="login" required ng-model="projectCtrl.jiraConfigurationService.jiraConfig.login")
                    md-icon.helper
                        i.material-icons.grey help_outline
                        md-tooltip Login użytkownika Jiry z dostępem do konfigurowanego projektu
                    div(ng-messages="jiraForm.consumerKey.$error")
                        div(ng-message="required") To pole jest wymagane
                md-input-container(flex)
                    label Hasło
                    input(name="password" required ng-model="projectCtrl.jiraConfigurationService.jiraConfig.password" type="password")
                    md-icon.helper
                        i.material-icons.grey help_outline
                        md-tooltip Hasło użytkownika
                    div(ng-messages="jiraForm.consumerName.$error")
                        div(ng-message="required") To pole jest wymagane